<script type="text/x-handlebars" data-template-name="application">
	<div class="parent">
		<div id="application">
			<section>
				<header>
					<h1 class="clickable disabled" {{ action "resetMenu" on="click"}}>SimpleProxy Admin</h1>
				</header>
		
				<article>
					{{outlet}}
				</article>
			
				<footer>
					<div id="footer">
						Found a bug? Please report it <a style="margin-left: 5px; font-size:1.6em;font-weight:bold" href="https://github.com/scaljeri/SimpleSlider">here</a>
					</div>
				</footer>
			</section>
		</div>
	</div>
</script>
