<script type="text/x-handlebars" data-template-name="rotatable">
	<div class="rotate_container">
        	<div class="card">
                	<div class="front face">
                        	<img src="http://css3.bradshawenterprises.com/images/Cirques.jpg"/>
                	</div>
                	<div class="back face center">
                        	<p>This is nice for exposing more information about an image.</p>
                        	<p>Any content can go here.</p>
                	</div>
        	</div>
	</div>
</script>
