/* Example:
 *   @include experimental(tap-highlight-color, rgba(0,0,0,0), false) ;
 *  -->
 *  	tap-highlight-color, rgba(0,0,0,0) ;
 *  	-webkit-tap-highlight-color, rgba(0,0,0,0) ;
 *  	-ms-tap-highlight-color, rgba(0,0,0,0) ;
 */
/* line 1, ../sass/_application.scss */
#application {
  height: 500px;
  width: 500px;
}
/* line 5, ../sass/_application.scss */
#application > section {
  height: 100%;
}
/* line 9, ../sass/_application.scss */
#application header h1 {
  text-align: center;
}
/* line 13, ../sass/_application.scss */
#application #footer {
  font-size: 1.4em;
  text-align: center;
  background-image: url(../img/sp-logo.png), url(../img/bug-icon.png);
  background-repeat: no-repeat;
  background-size: 3em 3em, 2.8em 2.8em;
  background-position: left center, right center;
  padding-left: 3em;
  padding-right: 3em;
  line-height: 3em;
}

/* line 1, ../sass/_index.scss */
#index {
  width: 100%;
  height: 100%;
  position: relative;
  /* Position the 4 menu items */
}
/* line 6, ../sass/_index.scss */
#index .menu-item {
  position: absolute;
  width: 35%;
  height: 35%;
}
/* line 11, ../sass/_index.scss */
#index .menu-item .img-container {
  padding: 1em 2em 0 2em;
  height: auto;
}
/* line 14, ../sass/_index.scss */
#index .menu-item .img-container img {
  width: 100%;
}
/* line 19, ../sass/_index.scss */
#index .menu-item h3 {
  font-size: 1.8em;
  margin-top: 0px;
  text-align: center;
  text-shadow: 0 0 1px #999999, 1px 1px 1px #888888, 2px 2px 1px #777777, 3px 3px 1px #666666, 4px 4px 1px #555555, 5px 5px 1px #444444;
}
/* line 31, ../sass/_index.scss */
#index .menu-item.selected {
  top: 0!important;
  left: 0!important;
  width: 100%!important;
  height: 100%!important;
}
/* line 42, ../sass/_index.scss */
#index #configuration {
  top: 10%;
  right: 55%;
}
/* line 48, ../sass/_index.scss */
#index #log {
  right: 10%;
  top: 10%;
}
/* line 53, ../sass/_index.scss */
#index #realtime {
  top: 55%;
  right: 55%;
}
/* line 58, ../sass/_index.scss */
#index #search {
  top: 55%;
  right: 10%;
}

/* entire container, keeps perspective */
/* line 2, ../sass/_rotatable.scss */
.flip-container {
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  width: 100%;
  height: 100%;
  /* front pane, placed above back */
  /* back, initially hidden pane */
}
/* line 7, ../sass/_rotatable.scss */
.flip-container.rotate .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
/* line 11, ../sass/_rotatable.scss */
.flip-container .front, .flip-container back {
  width: 100%;
  height: 100%;
}
/* line 16, ../sass/_rotatable.scss */
.flip-container .flipper {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  position: relative;
}
/* line 23, ../sass/_rotatable.scss */
.flip-container .front, .flip-container .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 32, ../sass/_rotatable.scss */
.flip-container .front {
  z-index: 2;
}
/* line 37, ../sass/_rotatable.scss */
.flip-container .back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

/* line 2, ../sass/_positionable.scss */
.positionable.top {
  right: -35px !important;
  top: -10px !important;
}
/* line 8, ../sass/_positionable.scss */
.positionable.middle {
  right: -35px !important;
  top: 50px!important;
}
/* line 13, ../sass/_positionable.scss */
.positionable.bottom {
  right: -35px !important;
  top: 110px!important;
}

/* line 2, ../sass/_iconizable.scss */
.iconizable.icon {
  width: 50px!important;
  height: 50px!important;
}
/* line 6, ../sass/_iconizable.scss */
.iconizable.icon h3 {
  display: none;
}
/* line 9, ../sass/_iconizable.scss */
.iconizable.icon .img-container {
  padding: 0!important;
}
/* line 13, ../sass/_iconizable.scss */
.iconizable.icon:hover {
  width: 60px!important;
  height: 60px!important;
}

/* line 1, ../sass/_clickable.scss */
.clickable {
  cursor: hand;
  cursor: pointer;
}
/* line 5, ../sass/_clickable.scss */
.clickable.disabled {
  cursor: default!important;
}

/* line 10, ../sass/styles.scss */
body {
  font-family: Iceland;
  font-size: 15px;
  color: white;
}

/* line 16, ../sass/styles.scss */
div, section, article {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* Heading kerning pairs and ligatures */
/* line 24, ../sass/styles.scss */
h1, h2, h3 {
  text-rendering: optimizeLegibility;
}

/* line 26, ../sass/styles.scss */
h1 {
  font-size: 3em;
}

/* line 30, ../sass/styles.scss */
h2 {
  font-size: 2em;
}

/* line 34, ../sass/styles.scss */
div.bg {
  margin: 0 0 0 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -ms-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

/* line 43, ../sass/styles.scss */
.parent {
  position: relative;
  width: 500px;
  margin: 30px auto;
}

/* line 49, ../sass/styles.scss */
.positionable {
  transition: top 0.6s, left 0.6s, right 0.6s, bottom 0.6s, height 0.6s, width 0.6s;
  -webkit-transition: top 0.6s, left 0.6s, right 0.6s, bottom 0.6s, height 0.6s, width 0.6s;
  -moz-transition: top 0.6s, left 0.6s, right 0.6s, bottom 0.6s, height 0.6s, width 0.6s;
  -ms-transition: top 0.6s, left 0.6s, right 0.6s, bottom 0.6s, height 0.6s, width 0.6s;
  -o-transition: top 0.6s, left 0.6s, right 0.6s, bottom 0.6s, height 0.6s, width 0.6s;
}

/* line 53, ../sass/styles.scss */
.resizable {
  /*@include prefix-experimental(transition, "width 0.6s, height 0.6s") ;*/
}
