.positionable {
  &.top {
    left: 100%!important ;
    top: -10px!important ;
  }


  &.middle {
    left: 100%!important ;
    top: 50px!important ;
  }

  &.bottom {
    left: 100%!important ;
    top: 110px!important ;
  }
}