@import "sprite" ;
@import "mixins" ;

#main {
        border: 1px solid black ;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        border-radius: 20px;
        margin: 10px ;
	padding: 10px ;
}

.spinner {
	background: {
		image: url(../images/ajax-loader.gif) ;
		size: 40px 40px ;
	}
}

#config-container {
	margin-left: 50px ;
	width: 100% ;
	height: 40px ;
	line-height: 40px ;

	#config-loading {
		float: left ;
		width: 240px ;
	}
	.config-msg {
		display: inline-block ;
		width: 140px ;
	}
	select {
		width: 200px ;
		margin-right: 10px ;
	}
	.spinner {
		width: 40px ;
		height: 40px ;
		float: right ;
	}
}

a.tooltip, span.tooltip {
	position: relative;

	&::before {
    		content: attr(data-tip) ;
    		font-size: 13px;
    		position:absolute;
    		z-index: 999;
    		white-space:nowrap;
    		bottom:9999px;
    		left: 50%;
    		background:#000;
    		color:#e0e0e0;
    		padding:0px 7px;
    		line-height: 24px;
    		height: 24px;
    		opacity: 0;
    		@include experimental(transition, opacity 0.4s ease-out);
    	}
	&:hover::before {
    		opacity: 1;
    		bottom:-35px;
        }
}

label { 
	margin-right:10px ;
	display: inline-block ;
	width: 120px ;
}

fieldset {
	border-radius: 10px ;
	padding: 10px ;
	margin-left: 10px ;
	width: 500px ;
	fieldset {
		margin-top: 10px ;
		margin-bottom: 10px ;
		width: 91% ;
	}
	input {
		width: 200px ;
		&[type=radio] {
			width: 20px ;
			margin-left: 0px ;
			&:nth-child(3) {
				margin-left:10px;
			}
		}
	}
	& > div:nth-child(odd) {
		background-color: #F8F8F8  ;
	}
	& > div:nth-child(even) {
		background-color: lighten(#FFCCFF, 8%)  ;
	}

	#action-buttons {
		margin-top: 13px;
		position: relative ;
		#action-msg {
			width:140px;
			margin-left:auto;
			margin-right: auto
		}
		#apply {
			float: left ;
			img {
				width: 100px ;
				@include experimental(box-shadow, 5px 5px 5px #888888) ;
				margin-bottom: 2px ;
			}
		}
	
		#save {
			position: absolute ;
			right: 0px ;
			top: 0px ;
			img {
				width: 40px ;
				margin-right: 0px ;
				@include experimental(box-shadow, 5px 5px 5px #888888) ;
				margin-bottom: 2px ;
			}
		}
		a:hover img {
			@include experimental(box-shadow, 5px 5px 5px #400000!important ) ;
		}
		a:active img {
			margin-top: 2px ;	
			margin-bottom: 0px!important ;
			@include experimental(box-shadow, 2px 2px 8px #400000!important ) ;
		}
	}	
}

.route-input {
	display:inline-block;
	width:343px ;
}

.value-container {
	width: 202px ;
	display: inline-block ;
	margin-bottom:2px ;
}

.add-route {
	width: 100% ;
	height: 20px ;
	a {
		display: inline-block ;
		float: right;
		margin-right: 0px ;
	}
}

.hidden {
	display: none ;
}

.hand {
	cursor: pointer;
    	cursor: hand;
}
