@import "mixins" ;
@import "application" ;
@import "index" ;
@import "rotatable" ;
@import "positionable" ;
@import "iconizable" ;
@import "clickable" ;


body {
	font-family: Iceland ;
	font-size: 15px ;
	color: white ;
}

div, section, article {
	width: 100% ;
	height: 100% ;
	@include prefix-experimental(box-sizing, border-box) ;
}

// http://menacingcloud.com/?c=highPixelDensityDisplays
/* Heading kerning pairs and ligatures */
h1, h2, h3 { text-rendering: optimizeLegibility; }

h1 {
	font-size: 3em ;
}

h2 {
	font-size: 2em ;
}

div.bg {
	margin: 0 0 0 0;
	padding: 0;
	border: 1px solid rgba(0,0,0,0.5);
	@include prefix-experimental(border-radius, 10px 10px 10px 10px);
	background: rgba(255,255,255,0.25);
	@include prefix-experimental(box-shadow, "0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3)");
}

.parent {
	position: relative ;
	width: 500px ;
	margin: 30px auto ;
}

.positionable {
  @include prefix-experimental(transition, "top 0.6s, left 0.6s, right 0.6s, bottom 0.6s, height 0.6s, width 0.6s") ;
}

.resizable {
  /*@include prefix-experimental(transition, "width 0.6s, height 0.6s") ;*/
}
